<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Allanshaws Farm</title>
    <link href="{% static 'pages/links/style.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body>
<div id="page" class="page">
    <div class="main-wrapper">
        <div class="container">
            <img src="{% static 'images/header-image.jpg' %}" class="header-image" alt="Farm Image">
            <div class="bottom-left">Allanshaws Farm</div>
        </div>

        <div class="btn-group">
            <a href="/">
                <button>Home</button>
            </a>
            <a href="/about">
                <button>About</button>
            </a>
            <a href="/gallery">
                <button>Gallery</button>
            </a>
            <a href="/contact">
                <button>Contact</button>
            </a>
            <a href="">
                <button>Links</button>
            </a>
        </div>

        <h1><i>Links</i></h1>
        <hr>
        <table class="table-list">
            <tr>
                <th>North Country Cheviot</th>
                <th><a href="https://www.nc-cheviot.co.uk/">www.nc-cheviot.co.uk</a></th>
            </tr>
            <tr>
                <th>Texel Sheep Society</th>
                <th><a href="https://www.texel.co.uk/">www.texel.co.uk</a></th>
            </tr>
            <tr>
                <th>National Sheep Association</th>
                <th><a href="https://www.nationalsheep.org.uk/">www.nationalsheep.org.uk</a></th>
            </tr>
            <tr>
                <th>Innovis</th>
                <th><a href="https://www.innovis.org.uk/">www.innovis.org.uk</a></th>
            </tr>
            <tr>
                <th>John Swan Ltd</th>
                <th><a href="https://www.johnswan.co.uk/">www.johnswan.co.uk</a></th>
            </tr>
            <tr>
                <th>United Auctions</th>
                <th><a href="https://www.uagroup.co.uk/">www.uagroup.co.uk</a></th>
            </tr>
            <tr>
                <th>Aberdeen & Northern Marts</th>
                <th><a href="https://www.anmgroup.co.uk/marts/">www.anmgroup.co.uk/marts</a></th>
            </tr>
            <tr>
                <th>Harrison & Hetherington</th>
                <th><a href="https://www.harrisonandetherington.co.uk/">www.harrisonandetherington.co.uk</a></th>
            </tr>
            <tr>
                <th>Cumberland & Dumfriesshire Farmers Mart</th>
                <th><a href="https://www.cdfarmersmart.co.uk/">www.cdfarmersmart.co.uk</a></th>
            </tr>
        </table>
        <br>
        <br>
    </div>
</div>

</body>

<footer>
    <h3>© Copyright 2014 - 2022 Allanshaws Farm</h3>
</footer>

</html>
