<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Allanshaws Farm</title>
    <link href="{% static 'pages/contact/style.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body>
<div id="page" class="page">
    <div class="main-wrapper">
        <div class="container">
            <img src="{% static 'images/header-image.jpg' %}" class="header-image" alt="Farm Image">
            <div class="bottom-left">Allanshaws Farm</div>
        </div>

        <div class="btn-group">
            <a href="/">
                <button>Home</button>
            </a>
            <a href="/about">
                <button>About</button>
            </a>
            <a href="/gallery">
                <button>Gallery</button>
            </a>
            <a href="">
                <button>Contact</button>
            </a>
            <a href="/links">
                <button>Links</button>
            </a>
        </div>

        <h1><i>Contact</i></h1>
        <hr>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d287905.0394530203!2d-2.811141!3d55.6845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49bc3dc104d64f33!2sRunciman%20James%20%26%20Sons!5e0!3m2!1sen!2suk!4v1671404497547!5m2!1sen!2suk"
                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        <hr>
        <div class="contacts-left">
            <h4 class="notbold">Allanshaws Farm<br>
                <p style="font-size: 80%">Galashiels<br>
                    Scottish Borders<br>
                    TD1 2QB<br>
                    Scotland<br>
                    <b>Tel/Fax:</b> +44 1578 730268<br>
                    <b>Email:</b> roderick@allanshaws.co.uk or allanshaws@btconnect.com</h4>
        </div>

        <div class="contacts-right">
            <h3 class="notbold">How to get to Allanshaws Farm:</h3>
            <p style="font-size: 70%"><strong>By Road<br></strong>
                Allanshaws Farm is about 30 minutes from Edinburgh on the A7 – the mainroad between Edinburgh and
                Carlisle. We are 5 minutes off the A7 at the village of Stow in the Scottish Borders.</p>
            <p style="font-size: 70%"><strong>By Air<br></strong>
                Allanshaws Farm is about 50 minutes from Edinburgh airport, 1 hour 40 minutes from Glasgow airport and 1
                hour 50 minutes from Newcastle airport. Car hire is available at all airports.</p>
            <p style="font-size: 70%"><strong>By Rail<br></strong>
                Borders Railway opened in September 2015 which is a new line between Edinburgh and the Scottish Borders.
                The nearest station to us is Stow and we are 5 minutes from the village. Check out www.scotrail.co.uk
                for train times between Edinburgh and Stow.</p>
        </div>
    </div>
</div>

</body>

<footer>
    <h3>© Copyright 2014 - 2022 Allanshaws Farm</h3>
</footer>

</html>
